/* Blue Color: #264880 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400i,700,800');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

/***********************/
/**   BASE CONTENT    **/
/***********************/

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    color: #264880;
}


/***********************/
/** REUSABLE CONTENT  **/
/***********************/

p{
    color: #264880;
}

section{
    float: left;
    padding: 1rem 2rem;
}

code{
    background: white;
    border-radius: 0.3rem;
    color: #264880;
    font-family: 'Bree Serif', serif;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 0.1rem 0.4rem 0.3rem 0.4rem;
}

code.inverse{
    background: #264880;
    color: white;
    margin-right: 0.6rem;
}

/********LINKS***********/

a:link, a:visited {
    background-color: transparent;
    color: #264880;
}
a:hover, a:active {
    color: #26a3dd;
}




/***********************/
/**      HEADER       **/
/***********************/

.header{
    background: #264880;
    color: #fff;
    padding: 2rem 0;
    position: relative;
}

.row{
    width: 100%;
    float: left;
    padding: 2rem 0;
}

#logo{
    display: block;
    width: 260px;
    position: relative;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 100;
}

.dock{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
}

.grid-half{
    width: calc(100%/2);
}
.header-img{
    height: 10rem;
}

.header-title h1{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    margin: 0;
    font-weight: 800;
}

.header-title{
    align-self: center;
    padding-left: 2rem;
    position: relative;
}

span.credits{
    display: block;
    color: #26a3dd;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
    letter-spacing: 0.15rem;
}

a.support:link,
a.support:visited{
    bottom: -5.15rem;
    position: absolute;
    font-size: 1rem;
    right: 2rem;
    font-weight: 600;
    text-decoration: none;
    background: #9bcceb;
    border-radius: 0 0 0.3rem 0.3rem;
    padding: 0.5rem;
    position: absolute;
    color: #264880;
    z-index: 10;
}

a.support:hover,
a.support:active{
    color: #fff;
    background: #264880;
}

/***********************/
/**   DESCRIPTION     **/
/***********************/

.description{
    border-bottom: 10px solid #9bcceb;
}

.screenshot{
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    margin-top: 1.2rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px #f5f5f5;
    width: 100%;
}


/***********************/
/** HOW TO USE ME     **/
/***********************/

.usages{
    background: #9bcceb;
}

h2{
    text-align: center;
    font-size: 1.5em;
}
h2.usages-title{
    letter-spacing: 0.1rem;
    padding: 0 2rem;
    text-transform: uppercase;
}

span.command-description{
    
}

.commands{
    position: relative;
}

.bot-background{
    height: 6rem;
    width: 11rem;
    top: -5rem;
    right: 5rem;
    position: absolute;
    overflow: hidden;
}

table{
    display: table;
    background: #fff;
    border-radius: 5px;
    padding: 0.9rem;
    border: 1px solid #fff;
    box-shadow: 5px 5px 10px #689bbc;
}

#table-title{
    font-size: 1rem;
    color: #264880;
    font-weight: bolder;
}

td, th{
    text-align: left;
    padding: 0.5rem 0;
}

.command-data{
    font-size: 0.8rem;
    margin-right: 0.9rem;
}

.usages{
    border-bottom: 10px solid #9bcceb;
}

/***********************/
/** FOOTER SECTION    **/
/***********************/

#footer{
    background: #fff;
    min-height: 6rem;
    position: relative;
    padding: 0;
    padding-top: 2rem;
}

.help-img{
    position: relative;
}

a.policy:link,
a.policy:visited{
    position: absolute;
    font-size: 0.8rem;
    left: 2rem;
    bottom: 0rem;
    font-weight: 600;
    text-decoration: none;
    background: #264880;
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 0.2rem 0.5rem ;
    color: #fff;
    margin: 0;
}

a.policy:hover,
a.policy:active{
    background: #9bcceb;
    color: #264880;
}

.footer-img{
    height: 6rem;
    overflow: hidden;
    width: 11rem;
    bottom: 0rem;
    right: 2rem;
    position: absolute;
}
h4{
    color: #264880;
    margin: 0;
}

a i.fa-github,
a i.fa-envelope{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}

.social-links{
    padding: 2rem 1rem 1rem 1rem;
    text-align:left;
}




/***********************/
/** Feedback Page     **/
/***********************/

/*container for image and form*/
.support {
    background: #9bcceb;
}

.grid-full{
    width: 100%;
}

.container-small{
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    text-align: center;
}
#form {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 4rem;
    position: relative;
}

/*image*/
.bot-image {
    position: absolute;
    right: 4rem;
    top: -5rem;
    width: 11rem;
    height: 6rem;
    overflow: hidden;
}

/*form container*/
.form{
    background: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px #689bbc;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
}

/*email directly*/
a.directmail{
    background: #9bcceb;
    border-radius: 0.3rem;
    color: #264880;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.6rem auto;
    padding: 0.5rem;
    position: absolute;
    right: 3rem;
    top: 2rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 8rem;
}

a.directmail:hover{
    background: #264880;
    color: white;
}

h2.help{
    text-align: left;
}

input,
input[type="email"],
input[type="text"],
input[type="submit"],
textarea{
    background: whitesmoke;
    border: none;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    padding: 0.7rem;
    width: 100%;
}

input[type="submit"]:hover{
    background: #9bcceb;
    box-shadow: 4px 4px 8px whitesmoke;
    color: #264880;
    cursor: pointer;
}

input[type="submit"]{
    background: #264880;
    border-radius: 0.3rem;
    color: white;
    display: inline-block;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
textarea{
    overflow: hidden;
    font-family: sans-serif;
}
.error{
    display: none;
    color: red;
    font-size: 0.8rem;
}
/*homepage button*/
a.button {
    background: white;
    border-radius: 0.3rem;
    color: #264880;
    display: inline-block;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: auto;
}

a.button:hover{
    box-shadow: 5px 5px 10px #689bbc;
}



/****************************/
/** PRIVACY POLICY PAGE    **/
/****************************/

/******* POLICY CONTENT *******/

a.home-button{
    background: #fff;
    color: #264880;
    border-radius: 0.3rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    
}

a.home-button:hover,
a.home-button:visited{
    box-shadow: 5px 5px 10px rgba(134, 134, 134, 0.92);    
}
